<!-- your html code here -->
<div class="row d-flex justify-content-center p-3 my-5">
    <div class="col-6 mt-5">
        <h2 class="display-6 fw-bolder">This First Heading Will Catch Your Eye</h2>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, sunt. Quod inventore sint placeat voluptates debitis, eligendi aperiam at dolorum tempore ad maxime, quaerat minus. Fugiat aliquid laboriosam dolorem! Maxime distinctio eaque autem amet expedita in laboriosam vitae nemo reiciendis.</p>
    </div>
    <div class="col-3 ms-5 mt-2">
        <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" style="height: 80%;" alt="">
    </div>
</div>