<div class="container mt-5">
 
  <div class="mb-4">
    <h3><strong>Porfolio</strong></h3>
    <p>
      Donec ullamcorper nulla on metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
      Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
  </div>


  <div class="row text-center">
    <div class="col-12 col-md-4 mb-4">
      <img
        src="https://wallpapers.com/images/hd/1920-x-1080-hd-gaming-f0d70n4s3nti23qs.jpg"
        class="img-fluid"
        style="width: 100%; aspect-ratio: 7 / 4; object-fit: cover;"
        alt="Project Image 1"
      >
      <h5 class="text-primary mt-2">Project Name</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam animi similique accusamus ab culpa amet.</p>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <img
        src="https://dlcdnrog.asus.com/rog/media/1591712225260.webp"
        class="img-fluid"
        style="width: 100%; aspect-ratio: 7 / 4; object-fit: cover;"
        alt="Project Image 2"
      >
      <h5 class="text-primary mt-2">Project Name</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam animi similique accusamus ab culpa amet.</p>
    </div>

    <div class="col-12 col-md-4 mb-4">
      <img
        src="https://i.ytimg.com/vi/EA0YC9m6D4s/maxresdefault.jpg"
        class="img-fluid"
        style="width: 100%; aspect-ratio: 7 / 4; object-fit: cover;"
        alt="Project Image 3"
      >
      <h5 class="text-primary mt-2">Project Name</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam animi similique accusamus ab culpa amet.</p>
    </div>
  </div>
</div>